{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Data Mining</title>
	<link rel="stylesheet" href="{% static 'css/index_style.css' %}">
</head>

<body>
	<header>
		<h1>Bienvenidos a <i>SIGRAL</i></h1>
		<nav>
			<a href="#ancla-2">Envios por año</a>
			<a href="#ancla-3">Por Localidad</a>
			<a href="#ancla-4">Más vendidos - Proveedor</a>
			<a href="#ancla-5">Productos más vendidos</a>
			<a href="#ancla-6">Productos menos vendidos</a>
		</nav>
	</header>
	<div class="wrapper">
		<section>
			<div class="ancla" id="ancla-1">
				<h2>Proyecto Data Mining</h2>
				<p>Instituto Politecnico Nacional</p>
			</div>
		</section>

		<section>
			<div class="ancla" id="ancla-2">
				<h2>Envios por año</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quibusdam modi sapiente, ex
					consequatur repudiandae at sed ut magnam ratione iste illum omnis sint voluptate natus expedita,
					dignissimos corporis delectus doloremque numquam voluptatum sunt esse, enim quis molestias? Quidem
					sunt, est quae odio impedit. Odio, nam sit illo, ut atque impedit delectus molestiae blanditiis aut
					excepturi ab distinctio architecto quasi minima praesentium tempore consequuntur nemo assumenda quam
					iste dolores! Distinctio consequatur quia non, consectetur? Sit deleniti quis nostrum, optio illum
					nisi dolorem mollitia blanditiis necessitatibus distinctio eos. Praesentium, tempore odit!
					<p>
			</div>
		</section>

		<section>
			<div class="ancla" id="ancla-3">
				<h2>Por Localidad</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quibusdam modi sapiente, ex
					consequatur repudiandae at sed ut magnam ratione iste illum omnis sint voluptate natus expedita,
					dignissimos corporis delectus doloremque numquam voluptatum sunt esse, enim quis molestias? Quidem
					sunt, est quae odio impedit. Odio, nam sit illo, ut atque impedit delectus molestiae blanditiis aut
					excepturi ab distinctio architecto quasi minima praesentium tempore consequuntur nemo assumenda quam
					iste dolores! Distinctio consequatur quia non, consectetur? Sit deleniti quis nostrum, optio illum
					nisi dolorem mollitia blanditiis necessitatibus distinctio eos. Praesentium, tempore odit!
					<p>
			</div>
		</section>

		<section>
			<div class="ancla" id="ancla-4">
				<h2>Más Vendidos - Proveedor</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quibusdam modi sapiente, ex
					consequatur repudiandae at sed ut magnam ratione iste illum omnis sint voluptate natus expedita,
					dignissimos corporis delectus doloremque numquam voluptatum sunt esse, enim quis molestias? Quidem
					sunt, est quae odio impedit. Odio, nam sit illo, ut atque impedit delectus molestiae blanditiis aut
					excepturi ab distinctio architecto quasi minima praesentium tempore consequuntur nemo assumenda quam
					iste dolores! Distinctio consequatur quia non, consectetur? Sit deleniti quis nostrum, optio illum
					nisi dolorem mollitia blanditiis necessitatibus distinctio eos. Praesentium, tempore odit!
					<p>
			</div>
		</section>

		<section>
			<div class="ancla" id="ancla-5">
				<h2>Productos más vendidos</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quibusdam modi sapiente, ex
					consequatur repudiandae at sed ut magnam ratione iste illum omnis sint voluptate natus expedita,
					dignissimos corporis delectus doloremque numquam voluptatum sunt esse, enim quis molestias? Quidem
					sunt, est quae odio impedit. Odio, nam sit illo, ut atque impedit delectus molestiae blanditiis aut
					excepturi ab distinctio architecto quasi minima praesentium tempore consequuntur nemo assumenda quam
					iste dolores! Distinctio consequatur quia non, consectetur? Sit deleniti quis nostrum, optio illum
					nisi dolorem mollitia blanditiis necessitatibus distinctio eos. Praesentium, tempore odit!
					<p>
			</div>
		</section>

		<section>
			<div class="ancla" id="ancla-6">
				<h2>Productos menos Vendidos</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quibusdam modi sapiente, ex
					consequatur repudiandae at sed ut magnam ratione iste illum omnis sint voluptate natus expedita,
					dignissimos corporis delectus doloremque numquam voluptatum sunt esse, enim quis molestias? Quidem
					sunt, est quae odio impedit. Odio, nam sit illo, ut atque impedit delectus molestiae blanditiis aut
					excepturi ab distinctio architecto quasi minima praesentium tempore consequuntur nemo assumenda quam
					iste dolores! Distinctio consequatur quia non, consectetur? Sit deleniti quis nostrum, optio illum
					nisi dolorem mollitia blanditiis necessitatibus distinctio eos. Praesentium, tempore odit!
					<p>
			</div>
		</section>

	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/index_script.js'} %"></script>
</body>

</html>