{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Data Mining</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
	<header>
		<h1>Bienvenidos a <i>SIGRAL</i></h1>
		<nav>
			<a href="#ancla-2" id="ancla-2">Artículos Enviados</a>
			<a href="#ancla-3" id="ancla-3">Sucursales con mas pedidos</a>
			<a href="#ancla-4" id="ancla-4">Menos pedidos en vacaciones	</a>
			<a href="#ancla-5" id="ancla-5">Proveedores mas antiguos</a>
			<a href="#ancla-6" id="ancla-6">Productos por demanda</a>
		</nav>
	</header>
	<div class="wrapper">
		<section id="formularios">
			<div class="ancla" id="ancla-1">
				<h2>Proyecto Data Mining</h2>
				<p>Instituto Politecnico Nacional</p>
			</div>
		</section>

	</div>

	<div style="margin-top:600px;">


		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/formularios.js' %}"></script>
</body>

</html>
<script>
	var formulario2 = "formulario/1";
	var formulario3 = "formulario/2";
	var formulario4 = "formulario/3";
	var formulario5 = "formulario/4";
	var formulario6 = "formulario/5";
</script>