{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Data Mining</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
	<header>
		<h1>Bienvenidos a <i>SIGRAL</i></h1>
		<nav>
			<a href="#ancla-2" id="ancla-2">Envios por año</a>
			<a href="#ancla-3" id="ancla-3">Por Localidad</a>
			<a href="#ancla-4" id="ancla-4">Más vendidos-proveedor</a>
			<a href="#ancla-5" id="ancla-5">Productos más vendidos</a>
			<a href="#ancla-6" id="ancla-6">Productos menos vendidos</a>
		</nav>
	</header>
	<div class="wrapper">
		<section id="formularios">
			<div class="ancla" id="ancla-1">
				<h2>Proyecto Data Mining</h2>
				<p>Instituto Politecnico Nacional</p>
			</div>
		</section>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/formularios.js' %}"></script>
</body>

</html>
<script>
	var formulario2 = "{% static 'formularios/2.html' %}";
	var formulario3 = "{% static 'formularios/3.html' %}";
	var formulario4 = "{% static 'formularios/4.html' %}";
	var formulario5 = "{% static 'formularios/5.html' %}";
	var formulario6 = "{% static 'formularios/6.html' %}";
</script>