{% load static %}
<section>
    <div class="ancla" id="ancla-2">
        <h2>Envios por año</h2>

        <h5>Reporte de la cantidad de artículos enviados por sucursal en un intervalo de años,
            con la capacidad de separar por categorías.</h5>

        <hr>

        <form action="articulos_por_sucursal/" method="get" id="mdxquery1">
            <label for="lanio"> Desde el año</label>
            <select name="lanio" class="form-control">
                {% for a in anios %}
                <option value="{{a}}">{{a}}</option>
                {% endfor %}
            </select>

            <label for="ranio"> Hasta</label>
            <select name="ranio" class="form-control">
                {% for a in anios %}
                <option value="{{a}}">{{a}}</option>
                {% endfor %}
            </select>

            <label for="sucursal">Sucursal</label>
            <select name="sucursal" class="form-control">
                {% for suc in sucursales %}
                <option value="{{suc.0}}"> {{ suc.1 }}</option>
                {% endfor %}
            </select> <br>

            <input type="checkbox" name="por_categoria"> Separar por categor&iacute;a<br><br>

            <button type="submit" class="btn btn-outline-primary">Desplegar</button>
        </form><br>

        <div class="container-fluid">
            <img src="" class="img-fluid" alt="Articulos vendidos por sucursal" id="mdxplot">
        </div>
    </div>
</section>

<script src="{% static 'js/peticiones/formulario1.js' %}"></script>