{% load static %}
<section>
	<div class="ancla" id="ancla-3">
		<h2>Cantidad de artículos enviadas a sucursales</h2>
		<h5>Reporte de las sucursales que hacen mas pedidos de productos en el
			&uacute;ltimo trimestre de los &uacute;ltimos 3 a&ntilde;os.</h5>

		<form action="cuarto_trimestre/" method="get" id="mdxquery2">
			<button type="submit" class="btn btn-outline-primary">Desplegar</button>
		</form>
		<br><br>
		<div class="container-fluid">
			<img src="" class="img-fluid" alt="Articulos vendidos por sucursal" id="mdxplot">
		</div>
	</div>
</section>

<script src="{% static 'js/peticiones/formulario2.js' %}"></script>