{% load static %}
<section>
    <div class="ancla" id="ancla-4">
        <h2>Menos pedidos en vacaciones</h2>

        <h5>Reporte de los art&iacute;culos menos venidos en el periodo vacacional de verano en los &uacute;ltimos 5
            a&ntilde;nos (el periodo vacacional de verano se encuentra en el tercer trimestre de cada a&ntilde;o).</h5>

        <hr>

        <form action="tercer_trimestre/" method="get" id="mdxquery3">
            <button type="submit" class="btn btn-outline-primary">Desplegar</button>
        </form><br>

        <div class="container-fluid">
            <img src="" class="img-fluid" alt="Articulos vendidos por sucursal" id="mdxplot">
        </div>
    </div>
</section>

<script src="{% static 'js/peticiones/formulario3.js' %}"></script>