{% load static %}
<section>
    <div class="ancla" id="ancla-5">
        <h2>Proveedores mas antig&uuml;os</h2>

        <h5>Reporte de los proveedores que cuentan con 10 a&ntilde;os de antig&uuml;edad.</h5>

        <!-- Formulario -->
        <form action="proveedores_antiguedad/" method="get" id="mdxquery4">
            <button type="submit" class="btn btn-outline-primary">Desplegar</button>
        </form><br>

        <!-- Gráfica de resultados -->
        <div class="container-fluid" id="resultados">
        </div>
    </div>
</section>

<script src="{% static 'js/peticiones/formulario4.js' %}"></script>