{% load static %}
<section>
	<div class="ancla" id="ancla-6">
		<h2>Productos por demanda</h2>

		<form action="demanda_productos/" method="get" id="mdxquery5">
			<label for="periodo">Periodo</label>
			<select name="periodo" class="form-control">
				<option value="mes">Mes</option>
				<option value="trimestre">Trimestre</option>
				<option value="anio">A&ntilde;o</option>
			</select><br>


			<h5>Elegir productos por</h5>
			<input type="radio" name="tipo" value="menos_demanda" checked>
			<label for="tipo">menos demanda</label><br>
			<input type="radio" name="tipo" value="mas_demanda">
			<label for="tipo">mas demanda</label><br><br>

			<button type="submit" class="btn btn-outline-primary">Desplegar</button>
		</form>

		<div class="container-fluid" id="resultados">
		</div>
	</div>
</section>

<script src="{% static 'js/peticiones/formulario5.js' %}"></script>