{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGRAL</title><!-- Sistema generador de reportes de almacenes-->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">SIGRAL</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="" onclick="test(ENVIOS)">Envios por año</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index&">Por localidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index&">Mas vendidos-Proveedor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index&">Productos más vendidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index&">Productos menos vendidos</a>
      </li>
    </ul>
  </div>
</nav>


<br>














<body>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>